body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 31px;
    letter-spacing: 5.4px;
    word-spacing: 6px;
    color: #8e0664;
    font-weight: 700;
    font-variant: small-caps;
    background-color: #ddffee;
    margin-bottom: 25px;
    margin-top: 32px;
    margin: auto;
    width: 35%;
    border: 10 px dotted rgb(216, 94, 94);
    padding: 22px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 6px 6px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #8e0664;
    border-radius: 4px;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(243, 207, 213);
    font-weight: bold;
    font-size: 16px;
}

input[type="email"] {
    width: 100%;
    padding: 6px 6px;
    margin: 10px 0;
    display: inline-flex;
    border: 2px solid #8e0664;
    background-color: rgb(243, 207, 213);
    border-radius: 6px;
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: underline;
    color: rgb(4, 0, 255);
}

textarea[type="text"] {
    width: 100%;
    padding: 16px 6px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #8e0664;
    border-radius: 6px;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(243, 207, 213);
    font-style: italic;
    font-size: 16px;
}

button {
    margin-bottom: 32px;
    background-color: #8e0664;
    border-style: ridge;
    border: double;
    color: #f87187;
    padding: 8px 32px;
    text-align: center;
    text-decoration: blanchedalmond;
    display: inline-block;
    border-radius: 12px;
    font-stretch: expanded;
    font-size: 22px;
    font-variant: small-caps;
    font-weight: bold;
    font-weight: bolder;
    font-style: italic;
}

input[type="submit"] {
    margin-bottom: 10px;
    margin-top: 22px;
    background-color: #8e0664;
    border-style: ridge;
    border: double;
    color: #f87187;
    padding: 8px 32px;
    text-align: center;
    text-decoration: blanchedalmond;
    display: inline-block;
    border-radius: 12px;
    font-stretch: expanded;
    font-size: 22px;
    font-variant: small-caps;
    font-weight: bold;
    font-weight: bolder;
    font-style: italic;
    
}